{% extends 'dash.html' %}

{% block content %}
{% load crispy_forms_tags %}


<div class="container">
    <div class="row align-items-center">
        <div class="col align-self-center">
            <form action="" method="post" class="card bg-light">
                {% csrf_token %}
                <div class="card-header">Login</div>
                <div class="card-body">
                    {% if messages %}
                    {% for msg in messages %}

                    {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger">{{ msg }}</div>
                    {% endif %}

                    {% if msg.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="alert alert-success">{{ msg }}</div>
                    {% endif %}

                    {% endfor %}
                    {% endif %}
                    {{ login_form|crispy }}
                    <button class="btn btn-outline-success" style="width: 100%;">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}