{% extends 'base.html' %}

{% load static %}

{% block content %}
<br>
<br>
<script src="{% static 'tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>
<textarea name="" id="html" style="max-height: 50px;" class="form-control"></textarea><button class="btn btn-primary" onclick="getHTML()">Add HTML</button>
<textarea id="text">
 </textarea>

 <script>
  function getHTML(){
    let html = select('#html').value;
    let text = select('#text').value;
    tinyMCE.activeEditor.setContent(html);
  }
   tinymce.init({
     selector: '#text',
     plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
     toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
     tinycomments_mode: 'embedded',
     tinycomments_author: 'Author name',
     mergetags_list: [
       { value: 'First.Name', title: 'First Name' },
       { value: 'Email', title: 'Email' },
     ]
   });
 </script>
 <script>
    function copy(text){
      navigator.clipboard.writeText(text);
      alert('Copied ' + text);
    }
 </script>
  <button class="btn btn-success" onclick='copy(tinyMCE.activeEditor.getContent())'>COPY HTML</button>
{% endblock content %}